RewriteEngine On

Options +FollowSymLinks
Options All -Indexes
IndexIgnore *
LimitRequestBody 10240000

# Establece public/index.php como el archivo predeterminado
DirectoryIndex public/index.php

# No reescribe para los directorios específicos de recursos (assets, css, js, img)
RewriteCond %{REQUEST_URI} ^/public/(assets|css|js|img|fonts)($|/)
RewriteRule ^ - [L]

# Asegura que las rutas como
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]